.header {
  font-family: 'Chivo', sans-serif;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid lightgray;
}

.header__content {
}

.right {
  float: right;
}
