body {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 1.5rem 0 1rem;
}

h1 { font-size: 1.5rem;}
h2 { font-size: 1.3rem;}
h3 { font-size: 1.1rem;}

p { margin: 1rem 0; }
ul { margin: 1rem, 0; padding: 0 1.5rem; }
li { list-style-type: square;}

a, a:visited { color: darkgreen; }
