body {
  font-weight: 300;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  margin: 1.5rem 0 1rem;
}

h1 { font-size: 1.7rem;}
h2 { font-size: 1.5rem;}
h3 { font-size: 1.3rem;}

li { list-style-type: square;}

a, a:visited { color: darkgreen; }
